.q1 {border-style: solid;
background-color: orange;
border-color: orange;
width: 200px;
height: 200px;}
.q2 {border-style: solid;
border-color: aqua;
background-color: aqua;
width: 200px;height: 200px;}